.comment-detail{
  /* margin: 0 0; */
  width: 50em;

}

#comment {
  border: 1px solid #ffffff;
  /* font: 00px; */
  background-color: #a1a1a1;
  color: whitesmoke;
  text-align: center;
  margin-top: 3px;
}
