/* body {
  background-color: crimson;
} */

.signup-container {
  display:flex;
  flex-direction: column;
  width: 520px;
  margin: auto;
  box-shadow: 0 1px 1px #D0D0C8;
  border-radius:6px;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  top: 30px;
  background-color: rgba(220, 233, 233, 0.5);
}

.signup-form {
  display:flex;
  flex-direction: column;
  padding: 10px;
}

.signup-item {
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
 }

.signup-button {
  border-radius: 28px;
  border: none;
  background-color: rgb(74, 194, 26);
  width:50%;
  color:white;
  margin-top: 20px;
  font-size: 1rem;
}

.signup-header {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
}

.signup-label {
  padding: 0px;
  margin-bottom: 0px;
}

.text {
  margin-left: 10px;
}
