
#modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:20em;
  width: 40em;
  border-radius: 20px;
  background-color:rgb(77, 77, 77);
}

#modal-content button{
  display: flex;
  justify-content: center;
  align-items: center;;
}

#modal-content input{
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content label{
  text-decoration: double;
}

.profile-dropdown{
  display: block;
  margin-top: 1em;
  flex-direction: column;
}

.login {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: white;
  /* margin-left: 20px; */
}

.login-container {
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-item {
  padding: 3px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.login-button {
  border-radius: 28px;
  border: none;
  background-color: rgb(74, 194, 26);
  color:white;
  margin-top: 10px;
  font-size: 1rem;
}

.demo-button {
  border-radius: 28px;
  border: none;
  background-color: rgb(206, 206, 0);
  color:white;
  margin-top: 10px;
  font-size: 1rem;
}
